# Node
node_modules/

# Environments
.env

# Prisma Client Go
# Allow the folder and placeholder
!prisma/db/
!prisma/db/placeholder.go

# Track the platform-independent Go source code (types/client)
# This is required for the project to compile
!prisma/db/db_gen.go

# IGNORE the large platform-specific engine binaries
# These are generated at build time for the specific OS
prisma/db/query-engine-*_gen.go
